:root {
  --morado: #010111;
  --silver: #4d4b4b;
  --sm: 14px;
  --md: 17px;
  --lg: 26px;
}

body {
  font-family: "Tilt Neon", cursive;
}

#top-section {
  background-color: var(--silver);
}
#mid {
  background-color: var(--morado);
}
#footer {
  height: 350px;
  background-color:var(--morado);
  scroll-behavior:#313039;
}
ul {
    height: 110px;
  padding: 10px 10px 10px;
  width: auto;
  background-color: var(--morado);
  box-shadow: 2px 0px 7px 2px var(--morado);
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s ease;
 
  
}
#profile-pic{
  margin-top: 40px;
  box-shadow: 4px 2px 10px 10px var(--morado);
  position: relative;
  width: 400px;
}
ul li {
    font-size: var(--md);
    color: silver;
}
ul li:hover{
  background-color: var(--silver);
  border-radius: 10px;
 box-shadow: 2px 0 7px 2px var(--silver);
}

#Menu {
  margin-top: 40px;
}

.active {
    transform: translateY(-600px);
}

.in-icon {
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.gitHub-icon{
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
#email {
  font-size: var(--lg);
}
#github {
  font-size: var(--lg);
  cursor: pointer;
  text-decoration: underline;
}

.inactive {
  display: none;
}
@media (max-width: 640px){
  .inactive {
    display: block;
    width: 30px;
    height: 30px;
    
  }
}